<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src *; style-src * 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Font Awesome -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet"
    />
    <!-- MDB -->
    <link href="/css/mdb-custom.min.css" rel="stylesheet" />
    <link href="/css/mdb.rtl-custom.min.css" rel="stylesheet" />

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" />

    <script
      type="application/javascript"
      src="/js/jquery-3.3.1.min.js"
    ></script>
    <script type="application/javascript" src="/js/bootstrap.js"></script>
    <script type="application/javascript" src="/js/popper.min.js"></script>

    <title>AURION Synchronizer | Login</title>
  </head>

  <body class="fixed-sn grey-skin">
    <main class="my-5" style="padding-top: 2%">
      <!-- Wrong password alert -->
      <% if (typeof error !=='undefined' ) { %>
      <div
        class="alert alert-danger mb-0 alert-absolute"
        id="alert"
        role="alert"
        data-mdb-color="secondary"
        style="padding-left: 0.5rem; margin: 3.5rem"
      >
        <i class="fas fa-exclamation-circle me-2"></i>
        Your credentials are incorrect. Please try again.
      </div>
      <% } %>
      <!-- Wrong password alert -->

      <div class="container-fluid" style="margin-top: 0rem">
        <section class="team-section">
          <div class="container">
            <!-- Card -->
            <div class="card profile-card">
              <!-- Card Data -->
              <div class="admin-up text-center">
                <img
                  src="/img/orion.png"
                  class="img"
                  height="170"
                  style="margin-top: -5rem; margin-bottom: 2%"
                />
                <div class="data">
                  <h5 class="font-weight-bold dark-grey-text">
                    Enter your Aurion credentials
                  </h5>
                  <p class="text-muted">Don't worry, we'll never save them!</p>
                </div>
              </div>
              <!-- Card Data -->
              <!-- Card content -->
              <div class="card-body card-body-cascade">
                <form
                  action="/auth/login"
                  method="post"
                  id="login-form"
                  name="login-form"
                >
                  <div class="form-outline mb-4">
                    <label class="form-label" for="username">Email</label>
                    <input
                      type="email"
                      name="username"
                      id="username"
                      class="form-control"
                    />
                  </div>
                  <div class="form-outline mb-4">
                    <label class="form-label" for="password">Password</label>
                    <input
                      type="password"
                      name="password"
                      id="password"
                      class="form-control"
                    />
                  </div>
                  <button type="submit" class="btn btn-primary btn-block mb-4">
                    Sign in
                  </button>
                </form>
                <p
                  class="text-center text-info"
                  data-toggle="modal"
                  data-target="#aboutDialog"
                >
                  <a data-toggle="modal" data-target="#exampleModal"
                    >About this page</a
                  >
                </p>
                <!-- Modal -->
                <div
                  class="modal fade"
                  id="aboutDialog"
                  tabindex="-1"
                  aria-labelledby="aboutLabel"
                  aria-hidden="true"
                >
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="aboutLabel">
                          <i
                            class="fas fa-info-circle"
                            style="color: #0f57cd"
                          ></i>
                          About
                        </h5>
                        <button
                          type="button"
                          class="btn-close"
                          data-dismiss="modal"
                          aria-label="Close"
                        ></button>
                      </div>
                      <div class="modal-body text-justify">
                        <p>
                          This app is aimed at improving the planning download
                          feature of Aurion (<a
                            href="https://formation.ensta-bretagne.fr"
                            >official page</a
                          >)
                        </p>
                        <br />
                        <p>
                          While the native "download as ics" feature misses a
                          lot of information and is only possible week per week,
                          this app allows you to download your entire planning
                          in one go for a specified timeframe.
                        </p>
                        <br />
                        <p>
                          To do so, simply enter your Aurion credentials and
                          click "Sign in". You will then be redirected to a page
                          where you will select the time period you want to
                          download your planning for.
                        </p>
                        <br /><br />
                        <p>
                          Source code available
                          <a href="https://github.com/LBF38/planningAurion"
                            >here</a
                          >. To report a bug, please open an issue on
                          <a
                            href="https://github.com/LBF38/planningAurion/issues/new/choose"
                            >GitHub</a
                          >.
                        </p>
                        <p>
                          Developed by
                          <a href="https://github.com/LBF38">LBF38</a>. Frontend
                          by <a href="https://github.com/thomas40510">Bobby</a>.
                        </p>
                      </div>
                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn btn-secondary"
                          data-dismiss="modal"
                        >
                          Close
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Modal -->
              </div>
              <!-- Card content -->
            </div>
            <!-- Card -->
          </div>
        </section>
      </div>
    </main>
  </body>
</html>
