<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

  <title>AURION Planning Synchronizer</title>
</head>
<body>
<h1>Welcome to the Planning AURION synchronizer ! (V1.0)</h1>
<h2>What is this tool ?</h2>
<p>
  This tool is a simple tool to synchronize your planning from ENSTA
  Bretagne's planning (Aurion platform) to Google Calendar or any Calendar
  service.
</p>
<h2>How to use it ?</h2>
<p>
  To use this tool, you need to enter your Aurion credentials in the form
  below. These are your credentials when you connect to
  <a href="https://formation.ensta-bretagne.fr">Aurion</a>.
  <strong
  >Your credentials are not stored anywhere, they are only used to connect
    to Aurion and get your planning.</strong
  >
</p>
<h2>Using the tool</h2>
<p>
  By using this tool, you accept that we retrieve the information of your
  planning to store it in ics format and allow you to synchronize it with
  your favorite calendar app by providing you with a link to download or
  synchronize the ics file.
</p>
<form action="/auth/login" method="post">
  <label for="username">Username</label>
  <input type="text" name="username" id="username" autofocus required />
  <label for="password">Password</label>
  <input type="password" name="password" id="password" required />
  <input type="submit" value="Submit" />
</form>
<% if (typeof error !== 'undefined') { %>
  <p style="color: red">
    Username and Password doesn't match. Please provide valid credentials.
  </p>
<% } %>
</body>
</html>
