<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="Content-Security-Policy" content="default-src *; style-src * 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Font Awesome -->
  <link
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
          rel="stylesheet"
  />
  <!-- Google Fonts -->
  <link
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
          rel="stylesheet"
  />
  <!-- MDB -->
  <link href="/css/mdb-custom.min.css" rel="stylesheet"/>
  <link href="/css/mdb.rtl-custom.min.css" rel="stylesheet" />



  <!-- Bootstrap -->
  <link href="/css/bootstrap.min.css" rel="stylesheet"/>

  <title>AURION Planning Synchronizer</title>
</head>
<body class="fixed-sn grey-skin">

<main class="my-5">
  <!-- Wrong password alert -->
  <div class="alert alert-danger mb-0 alert-absolute"
       id="alert" role="alert" data-mdb-color="secondary"
       style="padding-left: .5rem; margin: 1.5rem; display: none">
    <i class="fas fa-exclamation-circle me-2"></i>
    Le mot de passe est incorrect. Merci de le vérifier.
  </div>
  <!-- Wrong password alert -->

  <div class="container-fluid" style="margin-top: -4rem">
    <section class="team-section">
      <div class="container">
        <!-- Card -->
        <div class="card profile-card">
          <!-- Card Data -->
          <div class="admin-up text-center">
            <img src="/img/orion.png" class="img" height="150"
                 style="margin-top: -5rem; margin-bottom: 2%"/>
            <div class="data">
              <h5 class="font-weight-bold dark-grey-text">Entrez vos identifiants Aurion</h5>
              <p class="text-muted">Pas de panique, ils ne sont pas enregistrés !</p>

            </div>
          </div>
          <!-- Card Data -->
          <!-- Card content -->
          <div class="card-body card-body-cascade">
            <form action="/auth/login" method="post" id="login-form" name="login-form">
              <div class="form-outline mb-4">
                <input type="email" name="username" id="username" class="form-control">
                <label class="form-label" for="username">Email</label>
              </div>
              <div class="form-outline mb-4">
                <input type="password" name="password" id="password" class="form-control">
                <label class="form-label" for="password">Password</label>
              </div>
              <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
            </form>
          </div>
          <!-- Card content -->
        </div>
        <!-- Card -->
      </div>
    </section>
  </div>
</main>
</body>



<!--
<h1>Welcome to the Planning AURION synchronizer ! (V1.0)</h1>
<h2>What is this tool ?</h2>
<p>
  This tool is a simple tool to synchronize your planning from ENSTA
  Bretagne's planning (Aurion platform) to Google Calendar or any Calendar
  service.
</p>
<h2>How to use it ?</h2>
<p>
  To use this tool, you need to enter your Aurion credentials in the form
  below. These are your credentials when you connect to
  <a href="https://formation.ensta-bretagne.fr">Aurion</a>.
  <strong
  >Your credentials are not stored anywhere, they are only used to connect
    to Aurion and get your planning.</strong
  >
</p>
<h2>Using the tool</h2>
<p>
  By using this tool, you accept that we retrieve the information of your
  planning to store it in ics format and allow you to synchronize it with
  your favorite calendar app by providing you with a link to download or
  synchronize the ics file.
</p>
<form action="/auth/login" method="post">
  <label for="username">Username</label>
  <input type="text" name="username" id="username" autofocus required />
  <label for="password">Password</label>
  <input type="password" name="password" id="password" required />
  <input type="submit" value="Submit" />
</form>
<% if (typeof error !== 'undefined') { %>
  <p style="color: red">
    Username and Password doesn't match. Please provide valid credentials.
  </p>
<% } %>
</body>
-->
</html>
