<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src *; style-src * 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Font Awesome -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet"
    />
    <!-- MDB -->
    <link href="/css/mdb-custom.min.css" rel="stylesheet" />
    <link href="/css/mdb.rtl-custom.min.css" rel="stylesheet" />

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" />

    <title>Aurion Synchronizer | Planning</title>
  </head>
  <body>
    <main class="my-5">
      <%if(typeof icsLink !== 'undefined') {%>
      <!-- Download OK alert -->
      <div
        class="alert alert-success mb-3 alert-absolute"
        id="dl-ok"
        role="alert"
        data-mdb-color="secondary"
        style="padding-left: 0.5rem; margin-left: 11%; margin-right: 11%"
      >
        <i class="fas fa-calendar-check me-2"></i>
        Your planning is ready!
        <a href="<%=icsLink%>">Click here</a> to download it.
      </div>
      <!-- Download OK alert -->
      <%}%>

      <div class="container-fluid">
        <section class="team-section">
          <div class="container">
            <!-- Card -->
            <div class="card user-card">
              <!-- Card content -->
              <div class="card-body card-body-cascade">
                <% if(typeof error !== 'undefined') { %>
                <!-- input alert -->
                <div
                  class="alert alert-danger mb-3 alert-absolute"
                  id="alert"
                  role="alert"
                  data-mdb-color="secondary"
                  style="padding-left: 0.5rem"
                >
                  <i class="fas fa-calendar-xmark me-2"></i>
                  Start date must be before end date
                </div>
                <!-- input alert -->
                <%}%>

                <form
                  action="/planning/pull"
                  method="post"
                  id="login-form"
                  name="login-form"
                >
                  <fieldset>
                    <legend>Choose dates to retrieve your planning</legend>
                    <div class="row mb-5">
                      <div class="col">
                        <div class="form-outline">
                          <label for="start_date">Start date</label>
                          <input
                            type="date"
                            name="start_date"
                            id="start_date"
                            class="form-control"
                          />
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-outline">
                          <label for="end_date">End date</label>
                          <input
                            type="date"
                            name="end_date"
                            id="end_date"
                            class="form-control"
                          />
                        </div>
                      </div>
                    </div>
                    <button
                      type="submit"
                      class="btn btn-primary btn-block mb-3"
                    >
                      Confirm
                    </button>
                    <button type="reset" class="btn btn-action btn-block mb-2">
                      Reset
                    </button>
                  </fieldset>
                </form>
              </div>
              <!-- Card content -->
            </div>
            <!-- Card -->
          </div>
        </section>
      </div>
    </main>
  </body>
</html>
