<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta
          http-equiv="Content-Security-Policy"
          content="default-src *; style-src * 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'"
  />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />


  <link rel="icon" href="/img/favicon.ico" type="image/png" />

  <!-- Font Awesome -->
  <link
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
          rel="stylesheet"
  />
  <!-- Google Fonts -->
  <link
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
          rel="stylesheet"
  />
  <!-- MDB -->
  <link href="/css/mdb-custom.min.css" rel="stylesheet" />
  <link href="/css/mdb.rtl-custom.min.css" rel="stylesheet" />

  <!-- Bootstrap -->
  <link href="/css/bootstrap.min.css" rel="stylesheet" />

  <script
          type="application/javascript"
          src="/js/jquery-3.3.1.min.js"
  ></script>
  <script type="application/javascript" src="/js/bootstrap.js"></script>
  <script type="application/javascript" src="/js/popper.min.js"></script>


  <title>Aurion Synchronizer | Planning</title>
</head>
<body>
<main class="my-5">
  <% if(typeof error !== 'undefined') {%>
    <!-- input alert -->
    <div
            class="alert alert-danger mb-3 alert-absolute"
            id="alertPlanning"
            role="alert"
            data-mdb-color="secondary"
            style="padding-left: 0.5rem; margin-left: 11%; margin-right: 11%"
    >
      <i class="fas fa-calendar-xmark me-2"></i>
      An error occured while retrieving your planning. Please try again later.
    </div>
    <!-- input alert -->
  <%}%>

  <div class="container">
    <a href="/" class="btn btn-rounded" title="Back" style="background-color: rgb(255,255,255)"><i class="fas fa-arrow-left-long"></i></a>
  </div>

  <div class="container-fluid">
    <section class="team-section">
      <div class="container">
        <div class="row md-5">
          <!-- Card -->
          <div class="col-8">
            <div class="card user-card">
              <!-- Card title -->
              <div class="card-header">
                <h1 class="card-title">Planning</h1>
                <p class="card-text">
                  This page allows you to retrieve your planning from Aurion and
                  download it as an iCalendar file.
                </p>
              </div>
              <!-- Card title -->
              <!-- Card content -->
              <div class="card-body card-body-cascade">
                <% if(typeof error !== 'undefined') {
                if(error.match(/start_date/)) {%>
                  <!-- input alert -->
                  <div
                          class="alert alert-danger mb-3 alert-absolute"
                          id="alertDates"
                          role="alert"
                          data-mdb-color="secondary"
                          style="padding-left: 0.5rem"
                  >
                    <i class="fas fa-calendar-xmark me-2"></i>
                    Start date must be before end date
                  </div>
                  <!-- input alert -->
                <%}}%>

                <form
                        action="/planning/pull"
                        method="post"
                        id="login-form"
                        name="login-form"
                >
                  <fieldset>
                    <legend>Choose dates to retrieve your planning</legend>
                    <div class="row mb-5">
                      <div class="col">
                        <div class="form-outline">
                          <label for="start_date">Start date</label>
                          <input
                                  type="date"
                                  name="start_date"
                                  id="start_date"
                                  class="form-control"
                                  required
                          />
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-outline">
                          <label for="end_date">End date</label>
                          <input
                                  type="date"
                                  name="end_date"
                                  id="end_date"
                                  class="form-control"
                                  required
                          />
                        </div>
                      </div>
                    </div>
                    <button
                            type="submit"
                            class="btn btn-primary btn-block mb-3"
                    >
                      Confirm
                    </button>
                    <button type="reset" class="btn btn-action btn-block mb-2">
                      Reset
                    </button>
                  </fieldset>
                </form>
              </div>
              <!-- Card content -->
            </div>
          </div>
          <!-- Card -->
          <!-- Control Card -->
          <div class="col-4">
            <div class="card user-card">
              <%if(typeof icsLink !== 'undefined') {%>

              <!-- Card title -->
              <div class="card-header">
                <!-- Download OK alert -->
                <div
                        class="alert alert-success mb-1 alert-absolute"
                        id="dl-ok"
                        role="alert"
                        data-mdb-color="secondary"
                        style="padding-left: 0.5rem"
                >
                  <i class="fas fa-calendar-check me-2"></i>
                  Your planning is ready!
                  <a href="<%=icsLink%>">Click here</a> to download it.
                </div>
                <!-- Download OK alert -->
              </div>
              <!-- Card title -->
              <%}%>

              <!-- Card content -->
              <div class="card-body card-body-cascade">
                <% if(typeof error !== 'undefined') { if(error.match(/update/))
                {%>
                  <!-- input alert -->
                  <div
                          class="alert alert-danger mb-3 alert-absolute"
                          id="alert"
                          role="alert"
                          data-mdb-color="secondary"
                          style="padding-left: 0.5rem"
                  >
                    <i class="fas fa-calendar-xmark me-2"></i>
                    An error occured while updating your planning
                  </div>
                  <!-- input alert -->
                <%}}%>

                <h4 class="mb-4">
                  My planning
                </h4>


                <!-- Manual update -->
                <form
                        action="/planning/update"
                        method="get"
                        id="update"
                        name="update"
                >
                  <fieldset>
                    <button
                            type="submit"
                            class="btn btn-primary btn-block mb-3"
                    >
                      Update manually
                    </button>
                  </fieldset>
                </form>
                <!-- Manual update -->
                <!-- Delete user -->
                <button data-toggle="modal" data-target="#confirmDelete" class="btn btn-block btn-danger mb-3">
                  Delete my account
                </button>
                <!-- Modal -->
                <div
                        class="modal"
                        id="confirmDelete"
                        tabindex="-1"
                        aria-labelledby="confirmLabel"
                >
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="confirmLabel">
                          <i
                                  class="fas fa-warning"
                                  style="color: #cd0f0f"
                          ></i>
                          Do you confirm this action?
                        </h5>
                        <button
                                type="button"
                                class="btn-close"
                                data-dismiss="modal"
                                aria-label="Close"
                        ></button>
                      </div>
                      <div class="modal-body text-justify">
                        <p>
                          If you confirm, your data will be deleted (forever, which is a long time period).
                          You will have to re-enter your credentials if you want to get your planning in the future.
                        </p>
                      </div>
                      <div class="modal-footer">
                        <button
                                type="button"
                                class="btn btn-secondary"
                                data-dismiss="modal"
                        >
                          Close
                        </button>
                        <form action="/auth/delete" method="post">
                          <button
                                  type="submit"
                                  class="btn btn-danger"
                                  aria-label="Delete"
                          >I confirm, delete!</button>
                        </form>

                      </div>
                    </div>
                  </div>
                </div>
                <!-- Modal -->

                <!-- Delete user -->
              </div>
              <!-- Card content -->
            </div>
          </div>
          <!-- Control Card -->
        </div>

      </div>
    </section>
  </div>
</main>
</body>
</html>
